Repository vesoft-inc/nebula, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vesoft-inc/tech-committee-reviewers, @critical27, @dutor, @codesigner

Improve host's leader number bounds when doing leader balance (#5670)
  .gitignore
  src/meta/processors/job/LeaderBalanceJobExecutor.cpp
Owners: none

update comment
  src/kvstore/raftex/Host.cpp
Owners: @critical27

fix some issue of Optimize the write performance when host is down (#5673)
  src/kvstore/raftex/Host.cpp
  src/kvstore/raftex/Host.h
Owners: @critical27

fix error
  src/graph/executor/query/FilterExecutor.cpp
  tests/tck/features/expression/StartsWith.feature
Owners: none

Update rc.yml
  .github/workflows/rc.yml
Owners: none

Update rc.yml
  .github/workflows/rc.yml
Owners: none

Update nightly.yml
  .github/workflows/nightly.yml
Owners: none

Update release.yml
  .github/workflows/release.yml
Owners: none

Update release.yml
  .github/workflows/release.yml
Owners: none

check error
  src/graph/executor/query/AppendVerticesExecutor.cpp
  src/graph/executor/query/InnerJoinExecutor.cpp
  src/graph/executor/query/LeftJoinExecutor.cpp
  src/graph/executor/query/ProjectExecutor.cpp
Owners: none

fix filter bug (#5720)
  src/graph/executor/query/AppendVerticesExecutor.cpp
  src/graph/executor/query/FilterExecutor.cpp
  src/graph/executor/query/InnerJoinExecutor.cpp
  src/graph/executor/query/LeftJoinExecutor.cpp
  src/graph/executor/query/ProjectExecutor.cpp
  tests/tck/features/expression/StartsWith.feature
Owners: none

raft follower async commitlogs
  src/kvstore/NebulaStore.cpp
  src/kvstore/Part.cpp
  src/kvstore/Part.h
  src/kvstore/listener/Listener.cpp
  src/kvstore/raftex/RaftPart.cpp
  src/kvstore/raftex/RaftPart.h
  src/kvstore/raftex/RaftexService.cpp
  src/kvstore/raftex/RaftexService.h
  src/kvstore/raftex/test/TestShard.cpp
  src/kvstore/stats/KVStats.cpp
  src/kvstore/stats/KVStats.h
Owners: @critical27

change oss to minio (#5721)
  .github/workflows/nightly.yml
  .github/workflows/rc.yml
  .github/workflows/release.yml
Owners: none

feat: fn is_inversed, equivalent to typeid(e) < 0
  src/common/function/FunctionManager.cpp
  src/common/function/test/FunctionManagerTest.cpp
  tests/tck/features/function/is_inversed.feature
Owners: none

add a test case
  tests/tck/features/function/is_inversed.feature
Owners: none

cpplint: fix fn size linting issue
  src/common/function/FunctionManager.cpp
  src/common/function/FunctionManager.h
  tests/tck/features/function/is_inversed.feature
Owners: none

tests: fix background to use space
  tests/tck/features/function/is_inversed.feature
Owners: none

fix UT cases
  tests/tck/features/function/is_inversed.feature
Owners: none

fix ut based on nba data
  tests/tck/features/function/is_inversed.feature
Owners: none

adopt ut to nba data
  tests/tck/features/function/is_inversed.feature
Owners: none

adaptation on nba data, the final round, sorry
  tests/tck/features/function/is_inversed.feature
Owners: none

fix is_inversed.feature
  tests/tck/features/function/is_inversed.feature
Owners: none

diable join clause yield agg
  src/parser/parser.yy
  tests/tck/features/yield/join.feature
Owners: @dutor, @codesigner

check illegal join statement (#5726)
  src/parser/parser.yy
  tests/tck/features/yield/join.feature
Owners: @dutor, @codesigner

each group applies a rule only once
  src/graph/optimizer/OptContext.h
  src/graph/optimizer/OptGroup.cpp
  src/graph/optimizer/Optimizer.cpp
  src/graph/optimizer/Optimizer.h
Owners: none

avoid repeat visit in pruneproperties
  src/graph/visitor/PrunePropertiesVisitor.cpp
  src/graph/visitor/PrunePropertiesVisitor.h
Owners: none

avoid repeat visit in analyzelifetime
  src/graph/scheduler/Scheduler.cpp
Owners: none

each group applies a rule only once (#5734)
  src/graph/optimizer/OptContext.h
  src/graph/optimizer/OptGroup.cpp
  src/graph/optimizer/Optimizer.cpp
  src/graph/optimizer/Optimizer.h
  src/graph/scheduler/Scheduler.cpp
  src/graph/visitor/PrunePropertiesVisitor.cpp
  src/graph/visitor/PrunePropertiesVisitor.h
Owners: none

fix shortestPath find loop
  src/graph/executor/algo/BatchShortestPath.cpp
  src/graph/executor/algo/ShortestPathBase.cpp
  src/graph/executor/algo/ShortestPathBase.h
  src/graph/executor/algo/SingleShortestPath.cpp
  tests/tck/features/match/AllShortestPaths.feature
  tests/tck/features/match/SingleShorestPath.feature
Owners: none

fix match shortestPath find loop (#5738)
  src/graph/executor/algo/BatchShortestPath.cpp
  src/graph/executor/algo/ShortestPathBase.cpp
  src/graph/executor/algo/ShortestPathBase.h
  src/graph/executor/algo/SingleShortestPath.cpp
  tests/tck/features/match/AllShortestPaths.feature
  tests/tck/features/match/SingleShorestPath.feature
Owners: none

fix empty filter
  src/graph/optimizer/rule/EliminateFilterRule.cpp
  src/graph/planner/plan/Query.cpp
  src/graph/planner/plan/Query.h
  tests/tck/features/optimizer/ElimintateInvalidProp.feature
Owners: none

fix empty filter (#5740)
  src/graph/optimizer/rule/EliminateFilterRule.cpp
  src/graph/planner/plan/Query.cpp
  src/graph/planner/plan/Query.h
  tests/tck/features/optimizer/ElimintateInvalidProp.feature
Owners: none

fix oneway path limit error
  src/graph/executor/algo/AllPathsExecutor.cpp
Owners: none

add test case
  src/parser/scanner.lex
  tests/tck/features/path/AllPath.IntVid.feature
  tests/tck/features/path/AllPath.feature
Owners: none

Reduce the blocking time of the write lock when deleting space
  src/kvstore/NebulaStore.cpp
Owners: none

Reduce the blocking time of the write lock when deleting space
  src/kvstore/NebulaStore.cpp
Owners: none

fix metric num_vertices_inserted
  src/storage/mutate/AddEdgesProcessor.cpp
  src/storage/mutate/AddVerticesProcessor.cpp
Owners: none

fix noloop path limit (#5751)
  src/graph/executor/algo/AllPathsExecutor.cpp
  src/parser/scanner.lex
  tests/tck/features/path/AllPath.IntVid.feature
  tests/tck/features/path/AllPath.feature
Owners: none

Resolve compilation issues
  src/kvstore/NebulaStore.cpp
Owners: none

fix allpath without prop when one step
  src/graph/executor/algo/AllPathsExecutor.cpp
  tests/tck/features/path/AllPath.feature
Owners: none

.github/CODEOWNERS:

#Require an approved review in PRs including files with a designated code owner.
/conf/ @vesoft-inc/tech-committee-reviewers
/src/kvstore/raftex/ @critical27
/cmake/ @vesoft-inc/tech-committee-reviewers
*.thrift @vesoft-inc/tech-committee-reviewers
*.yy @dutor @codesigner
