Repository vesoft-inc/nebula, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vesoft-inc/tech-committee-reviewers, @critical27, @sherman-the-tank, @yixinglu, @dutor, @CPWstatic

.github/CODEOWNERS:

#Require an approved review in PRs including files with a designated code owner.
/conf/ @vesoft-inc/tech-committee-reviewers
/src/kvstore/raftex/ @critical27 @sherman-the-tank
/cmake/ @sherman-the-tank @yixinglu @dutor
*.thrift @vesoft-inc/tech-committee-reviewers
*.yy @CPWstatic @dutor

support toSet function (#3594)
  src/common/datatypes/Value.cpp
  src/common/datatypes/Value.h
  src/common/function/FunctionManager.cpp
  tests/tck/features/expression/function/TypeConversion.feature
Owners: none

Add tests.
  src/storage/test/GetPropTest.cpp
Owners: none

Remove unused code.
  src/storage/test/GetPropTest.cpp
Owners: none

Enhance date parser (#3797)
  src/common/time/parser/DatetimeReader.h
  src/common/time/parser/datetime_parser.yy
  src/common/time/parser/datetime_scanner.lex
  src/common/time/parser/test/DateTimeParserTest.cpp
Owners: @CPWstatic, @dutor

Fix `Match cannot be followed by use space` (#3748)
  src/graph/planner/SequentialPlanner.cpp
  src/graph/planner/SequentialPlanner.h
  src/graph/planner/plan/PlanNode.h
  src/graph/validator/SequentialValidator.cpp
  src/graph/validator/Validator.cpp
  src/graph/validator/Validator.h
  tests/tck/features/match/Base.feature
  tests/tck/features/match/MultiLineMultiQueryParts.feature
Owners: none

raft: fix always loop when no log need to send (#3819)
  src/kvstore/raftex/Host.cpp
Owners: @critical27, @sherman-the-tank

raft: fix always loop when no log need to send (#3819)
  src/kvstore/raftex/Host.cpp
Owners: @critical27, @sherman-the-tank

Cherry pick v3.0.0 0127 (#3841)
  src/graph/planner/SequentialPlanner.cpp
  src/graph/planner/SequentialPlanner.h
  src/graph/planner/plan/PlanNode.h
  src/graph/validator/SequentialValidator.cpp
  src/graph/validator/Validator.cpp
  src/graph/validator/Validator.h
  src/kvstore/raftex/Host.cpp
  tests/tck/features/match/Base.feature
  tests/tck/features/match/MultiLineMultiQueryParts.feature
Owners: @critical27, @sherman-the-tank
