Repository vesoft-inc/nebula, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vesoft-inc/tech-committee-reviewers, @critical27, @dutor, @codesigner

fix_delete_validate (#5645)
  src/graph/validator/MutateValidator.cpp
  tests/tck/features/delete/DeleteEdge.IntVid.feature
  tests/tck/features/delete/DeleteEdge.feature
  tests/tck/features/delete/DeleteTag.IntVid.feature
  tests/tck/features/delete/DeleteTag.feature
  tests/tck/features/delete/DeleteVertex.IntVid.feature
  tests/tck/features/delete/DeleteVertex.feature
  tests/tck/features/delete/DeleteVertexWithoutEdge.feature
Owners: none

fix allpath memory tracker (#5640)
  src/graph/executor/algo/AllPathsExecutor.cpp
Owners: none

Enhancement/eliminate invalid filter (#5634)
  src/common/expression/PredicateExpression.cpp
  src/graph/executor/CMakeLists.txt
  src/graph/executor/Executor.cpp
  src/graph/executor/query/ValueExecutor.cpp
  src/graph/executor/query/ValueExecutor.h
  src/graph/optimizer/CMakeLists.txt
  src/graph/optimizer/OptRule.cpp
  src/graph/optimizer/OptRule.h
  src/graph/optimizer/rule/EliminateFilterRule.cpp
  src/graph/optimizer/rule/EliminateFilterRule.h
  src/graph/planner/plan/PlanNode.cpp
  src/graph/planner/plan/PlanNode.h
  src/graph/planner/plan/Query.h
  src/graph/service/QueryEngine.cpp
  src/graph/util/ExpressionUtils.cpp
  src/graph/util/ExpressionUtils.h
  src/graph/validator/MatchValidator.cpp
  tests/tck/features/optimizer/ElimintateInvalidProp.feature
  tests/tck/features/optimizer/PushFilterDownHashInnerJoinRule.feature
Owners: none

fix all path memory tracker (#5621)
  src/graph/executor/algo/AllPathsExecutor.cpp
  src/graph/executor/algo/AllPathsExecutor.h
Owners: none

Revert "Revert "Change ccache to sccache"" (#5623)
  .github/workflows/pull_request.yml
Owners: none

Optimize the write performance when host is down (#5571)
  src/kvstore/raftex/Host.cpp
  src/kvstore/raftex/Host.h
  src/kvstore/raftex/RaftPart.cpp
Owners: @critical27

fix traverse build path memory tracker (#5619)
  src/graph/executor/query/TraverseExecutor.cpp
Owners: none

Revert "Change ccache to sccache" (#5627)
  .github/workflows/pull_request.yml
Owners: none

Fix edge all predicate embedding when generating path (#5631)
  src/graph/planner/plan/Query.h
  src/graph/util/FTIndexUtils.cpp
  tests/tck/features/optimizer/EmbedEdgeAllPredIntoTraverseRule.feature
Owners: none

Set min_level_for_custom_filter as 0 by default to delete expired d… (#5622)
  src/storage/CompactionFilter.h
Owners: none

Fix too many logs print when listing sessions (#5618)
  src/meta/processors/session/SessionManagerProcessor.cpp
Owners: none

support find circular (#5636)
  src/graph/executor/algo/ShortestPathExecutor.cpp
  src/graph/planner/match/ShortestPathPlanner.cpp
  tests/tck/features/match/AllShortestPaths.feature
  tests/tck/features/match/SingleShorestPath.feature
Owners: none

fix_delete_validate (#5645)
  src/graph/validator/MutateValidator.cpp
  tests/tck/features/delete/DeleteEdge.IntVid.feature
  tests/tck/features/delete/DeleteEdge.feature
  tests/tck/features/delete/DeleteTag.IntVid.feature
  tests/tck/features/delete/DeleteTag.feature
  tests/tck/features/delete/DeleteVertex.IntVid.feature
  tests/tck/features/delete/DeleteVertex.feature
  tests/tck/features/delete/DeleteVertexWithoutEdge.feature
Owners: none

fix return all user-define variables (#5646)
  src/graph/visitor/PrunePropertiesVisitor.cpp
  tests/tck/features/optimizer/PrunePropertiesRule.feature
Owners: none

fix error
  src/graph/executor/algo/ProduceAllPathsExecutor.cpp
Owners: none

address comment
  src/graph/executor/algo/BFSShortestPathExecutor.cpp
  src/graph/executor/algo/ProduceAllPathsExecutor.cpp
  src/graph/executor/algo/ProduceAllPathsExecutor.h
Owners: none

replace collect with collectAll (#5651)
  src/graph/executor/algo/BFSShortestPathExecutor.cpp
  src/graph/executor/algo/ProduceAllPathsExecutor.cpp
  src/graph/executor/algo/ProduceAllPathsExecutor.h
Owners: none

change iterRef to iter
  src/graph/executor/query/ExpandAllExecutor.cpp
  src/graph/executor/query/ExpandExecutor.cpp
  src/graph/executor/query/TraverseExecutor.cpp
  tests/tck/features/go/GO.feature
Owners: none

change iterRef to iter (#5662)
  src/graph/executor/query/ExpandAllExecutor.cpp
  src/graph/executor/query/ExpandExecutor.cpp
  src/graph/executor/query/TraverseExecutor.cpp
  tests/tck/features/go/GO.feature
Owners: none

add explicit join
  .linters/cpp/checkKeyword.py
  src/graph/validator/YieldValidator.cpp
  src/graph/validator/YieldValidator.h
  src/parser/Clauses.cpp
  src/parser/Clauses.h
  src/parser/TraverseSentences.cpp
  src/parser/TraverseSentences.h
  src/parser/parser.yy
  src/parser/scanner.lex
Owners: @dutor, @codesigner

add plan
  src/graph/validator/YieldValidator.cpp
  src/graph/validator/YieldValidator.h
  src/parser/Clauses.h
  src/parser/parser.yy
Owners: @dutor, @codesigner

add test case
  src/graph/validator/YieldValidator.cpp
  tests/tck/features/yield/join.feature
Owners: none

fix path error
  src/graph/planner/plan/Query.cpp
  tests/tck/features/yield/join.feature
Owners: none

fix function left &right
  src/common/expression/test/FunctionCallExpressionTest.cpp
Owners: none

add more test case
  tests/tck/features/yield/join.feature
Owners: none

forbid duplicate column name when join
  src/graph/validator/YieldValidator.cpp
  tests/tck/features/yield/join.feature
Owners: none

add single shortest
  src/graph/context/ast/QueryAstContext.h
  src/graph/executor/algo/BFSShortestPathExecutor.cpp
  src/graph/executor/algo/BFSShortestPathExecutor.h
  src/graph/executor/algo/MultiShortestPathExecutor.cpp
  src/graph/executor/algo/MultiShortestPathExecutor.h
  src/graph/planner/ngql/PathPlanner.cpp
  src/graph/planner/plan/Algo.cpp
  src/graph/planner/plan/Algo.h
  src/graph/validator/FindPathValidator.cpp
  src/graph/validator/YieldValidator.cpp
  src/parser/TraverseSentences.cpp
  src/parser/TraverseSentences.h
  src/parser/parser.yy
  tests/tck/features/path/singleShortestPath.feature
  tests/tck/features/yield/join.feature
Owners: @dutor, @codesigner

add single shortest case
  src/graph/executor/query/DataCollectExecutor.cpp
  src/graph/validator/Validator.cpp
  src/graph/validator/YieldValidator.cpp
  tests/tck/features/path/singleShortestPath.feature
  tests/tck/features/yield/join.feature
Owners: none

Compatible with left and right function
  src/parser/parser.yy
Owners: @dutor, @codesigner

Add explicit join (#5664)
  .linters/cpp/checkKeyword.py
  src/common/expression/test/FunctionCallExpressionTest.cpp
  src/graph/context/ast/QueryAstContext.h
  src/graph/executor/algo/BFSShortestPathExecutor.cpp
  src/graph/executor/algo/BFSShortestPathExecutor.h
  src/graph/executor/algo/MultiShortestPathExecutor.cpp
  src/graph/executor/algo/MultiShortestPathExecutor.h
  src/graph/executor/query/DataCollectExecutor.cpp
  src/graph/planner/ngql/PathPlanner.cpp
  src/graph/planner/plan/Algo.cpp
  src/graph/planner/plan/Algo.h
  src/graph/planner/plan/Query.cpp
  src/graph/validator/FindPathValidator.cpp
  src/graph/validator/Validator.cpp
  src/graph/validator/YieldValidator.cpp
  src/graph/validator/YieldValidator.h
  src/parser/Clauses.cpp
  src/parser/Clauses.h
  src/parser/TraverseSentences.cpp
  src/parser/TraverseSentences.h
  src/parser/parser.yy
  src/parser/scanner.lex
  tests/tck/features/path/singleShortestPath.feature
  tests/tck/features/yield/join.feature
Owners: @dutor, @codesigner

push limit down shortestpath
  src/graph/executor/algo/MultiShortestPathExecutor.cpp
  src/graph/executor/algo/MultiShortestPathExecutor.h
  src/graph/planner/plan/Algo.cpp
  src/graph/planner/plan/Algo.h
Owners: none

add path limit
  src/graph/context/ast/QueryAstContext.h
  src/graph/executor/algo/BFSShortestPathExecutor.cpp
  src/graph/executor/algo/BFSShortestPathExecutor.h
  src/graph/executor/algo/MultiShortestPathExecutor.cpp
  src/graph/optimizer/rule/PushLimitDownShortestPathRule.cpp
  src/graph/optimizer/rule/PushLimitDownShortestPathRule.h
  src/graph/planner/ngql/PathPlanner.cpp
  src/graph/planner/plan/Algo.cpp
  src/graph/validator/FindPathValidator.cpp
  src/parser/Clauses.h
  src/parser/TraverseSentences.cpp
  src/parser/TraverseSentences.h
  src/parser/parser.yy
Owners: @dutor, @codesigner

fix error
  src/parser/parser.yy
Owners: @dutor, @codesigner

delete push limit to shortestpath rule
  src/graph/executor/algo/BFSShortestPathExecutor.cpp
  src/graph/executor/algo/BFSShortestPathExecutor.h
  src/graph/executor/algo/MultiShortestPathExecutor.cpp
  src/graph/optimizer/rule/PushLimitDownShortestPathRule.cpp
  src/graph/optimizer/rule/PushLimitDownShortestPathRule.h
Owners: none

add newly limit
  src/graph/executor/algo/BFSShortestPathExecutor.cpp
  src/graph/executor/algo/MultiShortestPathExecutor.cpp
  src/parser/parser.yy
Owners: @dutor, @codesigner

fix newly limit error
  src/graph/planner/plan/Algo.cpp
  src/graph/validator/FindPathValidator.cpp
  src/parser/Clauses.h
  src/parser/TraverseSentences.cpp
  src/parser/TraverseSentences.h
  src/parser/parser.yy
Owners: @dutor, @codesigner

add test case
  src/parser/TraverseSentences.cpp
  tests/tck/features/path/singleShortestPath.feature
Owners: none

address comment
  src/graph/executor/algo/BFSShortestPathExecutor.cpp
  src/graph/executor/algo/BFSShortestPathExecutor.h
  src/graph/executor/algo/MultiShortestPathExecutor.cpp
Owners: none

Push limit down shortestpath (#5657)
  src/graph/context/ast/QueryAstContext.h
  src/graph/executor/algo/BFSShortestPathExecutor.cpp
  src/graph/executor/algo/BFSShortestPathExecutor.h
  src/graph/executor/algo/MultiShortestPathExecutor.cpp
  src/graph/executor/algo/MultiShortestPathExecutor.h
  src/graph/planner/ngql/PathPlanner.cpp
  src/graph/planner/plan/Algo.cpp
  src/graph/planner/plan/Algo.h
  src/graph/validator/FindPathValidator.cpp
  src/parser/TraverseSentences.cpp
  src/parser/TraverseSentences.h
  src/parser/parser.yy
  tests/tck/features/path/singleShortestPath.feature
Owners: @dutor, @codesigner

Improve host bounds when doing leader balance
  .gitignore
  src/meta/processors/job/LeaderBalanceJobExecutor.cpp
Owners: none

.github/CODEOWNERS:

#Require an approved review in PRs including files with a designated code owner.
/conf/ @vesoft-inc/tech-committee-reviewers
/src/kvstore/raftex/ @critical27
/cmake/ @vesoft-inc/tech-committee-reviewers
*.thrift @vesoft-inc/tech-committee-reviewers
*.yy @dutor @codesigner
