Repository vesoft-inc/nebula, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vesoft-inc/tech-committee-reviewers, @critical27, @dutor, @codesigner

.github/CODEOWNERS:

#Require an approved review in PRs including files with a designated code owner.
/conf/ @vesoft-inc/tech-committee-reviewers
/src/kvstore/raftex/ @critical27
/cmake/ @vesoft-inc/tech-committee-reviewers
*.thrift @vesoft-inc/tech-committee-reviewers
*.yy @dutor @codesigner

fix round(5) crash, check type error (#5967)
  src/common/function/FunctionManager.cpp
Owners: none

fix IndexScan with label containing parameters (#5944)
  src/common/expression/VariableExpression.h
  src/graph/util/ExpressionUtils.cpp
  tests/tck/features/bugfix/ParameterQuery.feature
  tests/tck/features/match/Path.feature
  tests/tck/features/yield/parameter.feature
Owners: none

Update `how-to-contribute.md` reference
  CONTRIBUTING.md
Owners: none

Update `how-to-contribute.md` reference (#5977)
  CONTRIBUTING.md
Owners: none

correct some file name and release the nebula-storaged-listener.conf.default
  conf/CMakeLists.txt
  conf/nebula-storaged.conf.production
Owners: @vesoft-inc/tech-committee-reviewers

feat: basic vector index for RAG, phase 1
  docs/rfcs/0001-vector_index.md
  src/clients/meta/MetaClient.cpp
  src/clients/meta/MetaClient.h
  src/common/utils/MetaKeyUtils.cpp
  src/common/utils/MetaKeyUtils.h
  src/graph/executor/CMakeLists.txt
  src/graph/executor/Executor.cpp
  src/graph/executor/maintain/VectorIndexExecutor.cpp
  src/graph/executor/maintain/VectorIndexExecutor.h
  src/graph/planner/plan/Maintain.cpp
  src/graph/planner/plan/Maintain.h
  src/graph/planner/plan/PlanNode.cpp
  src/graph/planner/plan/PlanNode.h
  src/graph/service/PermissionCheck.cpp
  src/graph/validator/MaintainValidator.cpp
  src/graph/validator/MaintainValidator.h
  src/graph/validator/Validator.cpp
  src/interface/meta.thrift
  src/meta/CMakeLists.txt
  src/meta/MetaServiceHandler.cpp
  src/meta/MetaServiceHandler.h
  src/meta/processors/index/VectorIndexProcessor.cpp
  src/meta/processors/index/VectorIndexProcessor.h
  src/meta/test/CMakeLists.txt
  src/meta/test/VectorIndexTest.cpp
  src/parser/MaintainSentences.cpp
  src/parser/MaintainSentences.h
  src/parser/Sentence.h
  src/parser/parser.yy
  src/parser/scanner.lex
Owners: @vesoft-inc/tech-committee-reviewers, @dutor, @codesigner

feat: vector index, parser implemented
  docs/rfcs/0001-vector_index.md
  src/common/expression/CMakeLists.txt
  src/common/expression/Expression.h
  src/common/expression/VectorQueryExpression.cpp
  src/common/expression/VectorQueryExpression.h
  src/common/plugin/fulltext/elasticsearch/ESAdapter.cpp
  src/common/plugin/fulltext/elasticsearch/ESAdapter.h
  src/common/plugin/fulltext/elasticsearch/test/MockESAdapter.h
  src/graph/context/ast/QueryAstContext.h
  src/graph/executor/CMakeLists.txt
  src/graph/executor/Executor.cpp
  src/graph/executor/admin/SpaceExecutor.cpp
  src/graph/executor/query/VectorIndexScanExecutor.cpp
  src/graph/executor/query/VectorIndexScanExecutor.h
  src/graph/optimizer/CMakeLists.txt
  src/graph/optimizer/rule/MergeLimitAndVectorIndexScanRule.cpp
  src/graph/optimizer/rule/MergeLimitAndVectorIndexScanRule.h
  src/graph/optimizer/rule/PushLimitDownVectorIndexScanRule.cpp
  src/graph/optimizer/rule/PushLimitDownVectorIndexScanRule.h
  src/graph/optimizer/rule/PushLimitDownVectorIndexScanRule2.cpp
  src/graph/optimizer/rule/PushLimitDownVectorIndexScanRule2.h
  src/graph/planner/ngql/LookupPlanner.cpp
  src/graph/planner/plan/PlanNode.cpp
  src/graph/planner/plan/PlanNode.h
  src/graph/planner/plan/Query.cpp
  src/graph/planner/plan/Query.h
  src/graph/service/GraphFlags.cpp
  src/graph/util/CMakeLists.txt
  src/graph/util/Constants.cpp
  src/graph/util/Constants.h
  src/graph/util/VectorIndexUtils.cpp
  src/graph/util/VectorIndexUtils.h
  src/graph/validator/AdminJobValidator.h
  src/graph/validator/LookupValidator.cpp
  src/parser/Sentence.h
  src/parser/parser.yy
  src/parser/scanner.lex
  src/parser/test/ParserTest.cpp
Owners: @dutor, @codesigner

refactor: index.model_endpoint --> index.model_name
  docs/rfcs/0001-vector_index.md
  src/graph/executor/maintain/VectorIndexExecutor.cpp
  src/graph/validator/MaintainValidator.cpp
  src/interface/meta.thrift
  src/meta/test/VectorIndexTest.cpp
  src/parser/MaintainSentences.cpp
  src/parser/MaintainSentences.h
  src/parser/parser.yy
Owners: @vesoft-inc/tech-committee-reviewers, @dutor, @codesigner

mark rfcs new progress
  docs/rfcs/0001-vector_index.md
Owners: none

add embedding client
  docs/rfcs/0001-vector_index.md
  src/common/conf/Configuration.cpp
  src/common/fs/test/CMakeLists.txt
  src/common/http/test/CMakeLists.txt
  src/common/http/test/MockHttpClient.h
  src/common/plugin/CMakeLists.txt
  src/common/plugin/vector/CMakeLists.txt
  src/common/plugin/vector/EmbeddingClient.h
  src/common/plugin/vector/HttpEmbeddingClient.cpp
  src/common/plugin/vector/HttpEmbeddingClient.h
  src/common/plugin/vector/test/CMakeLists.txt
  src/common/plugin/vector/test/EmbeddingClientTest.cpp
  src/storage/query/QueryBaseProcessor-inl.h
Owners: none

listener for vector index
  docs/rfcs/0001-vector_index.md
  src/common/meta/SchemaManager.h
  src/common/meta/ServerBasedSchemaManager.cpp
  src/common/meta/ServerBasedSchemaManager.h
  src/common/plugin/fulltext/elasticsearch/ESAdapter.cpp
  src/common/plugin/fulltext/elasticsearch/ESAdapter.h
  src/common/plugin/vector/CMakeLists.txt
  src/common/plugin/vector/EmbeddingClient.h
  src/common/plugin/vector/HttpEmbeddingClient.cpp
  src/common/plugin/vector/HttpEmbeddingClient.h
  src/common/plugin/vector/VectorEmbeddingFlags.h
  src/common/plugin/vector/test/EmbeddingClientTest.cpp
  src/common/utils/MetaKeyUtils.h
  src/daemons/CMakeLists.txt
  src/graph/validator/test/MockSchemaManager.h
  src/kvstore/CMakeLists.txt
  src/kvstore/listener/CMakeLists.txt
  src/kvstore/listener/elasticsearch/ESListener.cpp
  src/kvstore/listener/elasticsearch/ESListener.h
  src/kvstore/listener/test/CMakeLists.txt
  src/kvstore/test/CMakeLists.txt
  src/meta/CMakeLists.txt
  src/mock/AdHocSchemaManager.h
  src/storage/CMakeLists.txt
  src/storage/admin/RebuildVectorIndexTask.cpp
  src/storage/admin/RebuildVectorIndexTask.h
  src/storage/test/CMakeLists.txt
  src/tools/CMakeLists.txt
Owners: none

docs: update rfc for polishment and progress track
  docs/rfcs/0001-vector_index.md
  src/common/conf/Configuration.cpp
Owners: none

additional logging for E_FIELD_UNSET
  src/codec/RowWriterV2.cpp
Owners: none

fix no newline when returning JSON format
  src/webservice/GetFlagsHandler.cpp
  src/webservice/GetStatsHandler.cpp
  src/webservice/StatusHandler.cpp
Owners: none

added built-in transformations in the 'date' func
  src/common/function/FunctionManager.cpp
Owners: none

Added more test example for build-in functions
  src/common/function/test/FunctionManagerTest.cpp
Owners: none

[date(int)] added unit test support #2747
  src/common/function/test/FunctionManagerTest.cpp
Owners: none

datetime functions fix to return correct timezone #5894 #5735
  src/common/function/FunctionManager.cpp
Owners: none

Updated test examples for built-in functions
  src/common/function/test/FunctionManagerTest.cpp
Owners: none

Update Dockerfile.graphd
  docker/Dockerfile.graphd
Owners: none

Update Dockerfile.metad
  docker/Dockerfile.metad
Owners: none

Update Dockerfile.storaged
  docker/Dockerfile.storaged
Owners: none

Update Dockerfile.tools
  docker/Dockerfile.tools
Owners: none

Update Dockerfile.storaged
  docker/Dockerfile.storaged
Owners: none

Update Dockerfile.metad
  docker/Dockerfile.metad
Owners: none

Update Dockerfile.graphd
  docker/Dockerfile.graphd
Owners: none

Update Dockerfile
  docker/Dockerfile
Owners: none

Extended TEST_F(FunctionManagerTest, FindFunction) and resolved a duplicate of TEST_F(FunctionManagerTest, returnType)
  src/common/function/test/FunctionManagerTest.cpp
Owners: none

update useradd args
  docker/Dockerfile
  docker/Dockerfile.graphd
  docker/Dockerfile.metad
  docker/Dockerfile.storaged
  docker/Dockerfile.tools
Owners: none

Switch to non-root container user (#6012)
  docker/Dockerfile
  docker/Dockerfile.graphd
  docker/Dockerfile.metad
  docker/Dockerfile.storaged
  docker/Dockerfile.tools
Owners: none

Switch to non-root container user (#6012)
  docker/Dockerfile
  docker/Dockerfile.graphd
  docker/Dockerfile.metad
  docker/Dockerfile.storaged
  docker/Dockerfile.tools
Owners: none

[auto-pick-to-release-3.8]Switch to non-root container user (#6015)
  docker/Dockerfile
  docker/Dockerfile.graphd
  docker/Dockerfile.metad
  docker/Dockerfile.storaged
  docker/Dockerfile.tools
Owners: none

Fix META does not properly handle E_RETRY_EXHAUSTED error codes (#6022)
  src/meta/processors/admin/AdminClient.cpp
Owners: none

fix data type's error
  src/common/datatypes/Value.cpp
Owners: none

Test of a new storage.d image Dockerfile.storaged
  docker/Dockerfile.storaged
Owners: none

Test of a new storage.d image Dockerfile.storaged
  docker/Dockerfile.storaged
Owners: none

Test of a new storage.d image Dockerfile.storaged
  docker/Dockerfile
  docker/Dockerfile.metad
Owners: none

Test of a new meta.d image Dockerfile.metad
  docker/Dockerfile
Owners: none

Test of a new graph.d image Dockerfile.graphd
  docker/Dockerfile
Owners: none

Test of a new graph.d image Dockerfile.graphd
  docker/Dockerfile
Owners: none
