Repository vesoft-inc/nebula, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vesoft-inc/tech-committee-reviewers, @critical27, @dutor, @codesigner

.github/CODEOWNERS:

#Require an approved review in PRs including files with a designated code owner.
/conf/ @vesoft-inc/tech-committee-reviewers
/src/kvstore/raftex/ @critical27
/cmake/ @vesoft-inc/tech-committee-reviewers
*.thrift @vesoft-inc/tech-committee-reviewers
*.yy @dutor @codesigner

push step limit down storage (#5880)
  src/graph/executor/query/ExpandAllExecutor.cpp
  src/graph/executor/query/ExpandExecutor.cpp
  src/graph/planner/plan/Query.h
  tests/tck/features/go/SampleLimit.feature
  tests/tck/features/go/SampleLimit.intVid.feature
  tests/tck/features/optimizer/PushSampleDownRule.feature
Owners: none

push step limit down storage "
  src/graph/executor/query/ExpandAllExecutor.cpp
  src/graph/executor/query/ExpandExecutor.cpp
  src/graph/planner/plan/Query.h
  tests/tck/features/go/SampleLimit.feature
  tests/tck/features/go/SampleLimit.intVid.feature
  tests/tck/features/optimizer/PushSampleDownRule.feature
Owners: none

fix max edge per vertex
  src/storage/query/GetNeighborsProcessor.cpp
Owners: none

fix max edge per vertex
  src/storage/query/GetNeighborsProcessor.cpp
Owners: none

fix max edge per vertex (#5886)
  src/storage/query/GetNeighborsProcessor.cpp
Owners: none

push step limit down storage (#5883)
  src/graph/executor/query/ExpandAllExecutor.cpp
  src/graph/executor/query/ExpandExecutor.cpp
  src/graph/planner/plan/Query.h
  tests/tck/features/go/SampleLimit.feature
  tests/tck/features/go/SampleLimit.intVid.feature
  tests/tck/features/optimizer/PushSampleDownRule.feature
Owners: none

Update release.yml
  .github/workflows/release.yml
Owners: none

Fix release runner (#5887)
  .github/workflows/release.yml
Owners: none

Fix release runner (#5887)
  .github/workflows/release.yml
Owners: none

[Cherry-pick] Fix release runner (#5887) (#5888)
  .github/workflows/release.yml
Owners: none

Added vm.overcommit_memory to tuned profile
  conf/tuned/nebula/tuned.conf
Owners: @vesoft-inc/tech-committee-reviewers

Added vm.overcommit_memory to tuned profile (#5889)
  conf/tuned/nebula/tuned.conf
Owners: @vesoft-inc/tech-committee-reviewers

fix LabelIndexSeek crash
  src/graph/planner/match/LabelIndexSeek.cpp
  tests/tck/features/bugfix/LabelIndexCrash.feature
Owners: none

fix LabelIndexSeek crash (#5890)
  src/graph/planner/match/LabelIndexSeek.cpp
  tests/tck/features/bugfix/LabelIndexCrash.feature
Owners: none

Update NetworkUtils.cpp
  src/common/network/NetworkUtils.cpp
Owners: none

fix. date validator will reject 00 in day part.
  src/common/time/TimeUtils.h
  src/common/time/parser/test/DateTimeParserTest.cpp
Owners: none

fix. raft follower will rollback itself when it misses a certain log
  src/kvstore/raftex/RaftPart.cpp
Owners: @critical27

Delete etc directory
  etc/nebula-graphd.conf
  etc/nebula-graphd.conf.default
  etc/nebula-graphd.conf.production
  etc/nebula-metad.conf
  etc/nebula-metad.conf.default
  etc/nebula-metad.conf.production
  etc/nebula-storaged-listener.conf.production
  etc/nebula-storaged.conf
  etc/nebula-storaged.conf.default
  etc/nebula-storaged.conf.production
Owners: none

Merged local changes into New_ListSet
  conf/tuned/nebula/tuned.conf
  src/codec/RowReaderV2.cpp
Owners: @vesoft-inc/tech-committee-reviewers

Merged local changes into New_ListSet
  src/parser/parser copy.yy
  src/parser/scanner copy.lex
  src/parser/test/ParserTest.cpp
Owners: @dutor, @codesigner

Delete share/resources directory
  share/resources/date_time_zonespec.csv
  share/resources/gflags.json
Owners: none

Merged local changes into New_ListSet
  src/codec/RowWriterV2.cpp
  src/common/expression/test/AggregateExpressionTest.cpp
  src/meta/upgrade/v2/meta.thrift
Owners: @vesoft-inc/tech-committee-reviewers

Fix session ID generation
  src/meta/processors/session/SessionManagerProcessor.cpp
Owners: none

Fix session create time
  src/meta/processors/session/SessionManagerProcessor.cpp
Owners: none

Fix tck cases
  tests/tck/features/admin/Sessions.feature
  tests/tck/slowquery/KillSlowQueryViaDiffrentService.feature
  tests/tck/slowquery/KillSlowQueryViaSameService.feature
  tests/tck/slowquery/PermissionViaDifferentService.feature
  tests/tck/slowquery/PermissionViaSameService.feature
Owners: none

Fmt
  tests/tck/slowquery/PermissionViaDifferentService.feature
  tests/tck/slowquery/PermissionViaSameService.feature
Owners: none

Fix parser
  src/parser/parser.yy
Owners: @dutor, @codesigner

Fix parser
  src/graph/executor/admin/KillQueryExecutor.cpp
  src/meta/processors/session/SessionManagerProcessor.cpp
  src/parser/parser.yy
  tests/tck/slowquery/KillSlowQueryViaSameService.feature
Owners: @dutor, @codesigner

Fix session ID generation (#5916)
  src/graph/executor/admin/KillQueryExecutor.cpp
  src/meta/processors/session/SessionManagerProcessor.cpp
  src/parser/parser.yy
  tests/tck/features/admin/Sessions.feature
  tests/tck/slowquery/KillSlowQueryViaDiffrentService.feature
  tests/tck/slowquery/KillSlowQueryViaSameService.feature
  tests/tck/slowquery/PermissionViaDifferentService.feature
  tests/tck/slowquery/PermissionViaSameService.feature
Owners: @dutor, @codesigner

snapshot manager add ssl config
  src/kvstore/raftex/SnapshotManager.cpp
  src/kvstore/raftex/SnapshotManager.h
Owners: @critical27

fix the bug that index scan rule chooses a wrong geo index
  src/graph/optimizer/rule/GeoPredicateIndexScanBaseRule.cpp
  tests/tck/features/geo/GeoBase.feature
Owners: none

fix the bug that index scan rule chooses a wrong geo index (#5922)
  src/graph/optimizer/rule/GeoPredicateIndexScanBaseRule.cpp
  tests/tck/features/geo/GeoBase.feature
Owners: none

Enabled CodeQL scanning
  .github/workflows/codeql-analysis.yml
  .github/workflows/pull_request.yml
Owners: none

Enabled CodeQL scanning
  .github/workflows/codeql.yml
Owners: none

Fixed CodeQL
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql.yml
  src/graph/context/Result.h
Owners: none

fix configure file
  conf/nebula-storaged.conf.production
Owners: @vesoft-inc/tech-committee-reviewers

fix. stats manager may cause crash when stats with new labels.
  src/common/stats/StatsManager.cpp
  src/common/stats/test/StatsManagerTest.cpp
Owners: none

Merged local changes into New_ListSet
  src/codec/RowReaderV2.cpp
  src/codec/RowWriterV2.cpp
  src/codec/RowWriterV2.h
  src/common/datatypes/List.h
  src/common/datatypes/Set.h
  src/common/expression/SubscriptExpression.cpp
  src/common/expression/test/AggregateExpressionTest.cpp
  src/common/meta/NebulaSchemaProvider.cpp
  src/common/utils/IndexKeyUtils.h
  src/graph/util/SchemaUtil.cpp
  src/graph/validator/MutateValidator.cpp
  src/meta/processors/schema/SchemaUtil.cpp
  src/parser/parser.yy
  src/parser/test/ParserTest.cpp
  tests/tck/features/fetch/FetchEmpty.feature
  tests/tck/features/fetch/FetchVertices.strVid.feature
  tests/tck/features/insert/Insert.feature
  tests/tck/features/insert/InsertIfNotExists.feature
  tests/tck/features/match/Base.feature
  tests/tck/features/schema/Schema.feature
  tests/tck/features/update/Update.feature
Owners: @dutor, @codesigner

New changes into New_ListSet
  src/codec/RowReaderV2.cpp
  src/codec/RowWriterV2.cpp
  src/common/datatypes/List.h
  src/common/datatypes/Set.h
  src/common/expression/SubscriptExpression.cpp
  src/common/expression/test/AggregateExpressionTest.cpp
  src/common/function/FunctionManager.cpp
  src/graph/executor/algo/AllPathsExecutor.cpp
  src/graph/validator/SetValidator.cpp
  src/meta/processors/schema/SchemaUtil.cpp
  src/parser/parser.yy
  src/parser/test/ParserTest.cpp
  tests/tck/features/update/Update.feature
Owners: @dutor, @codesigner

New changes into New_ListSet
  tests/tck/features/fetch/FetchEmpty.feature
  tests/tck/features/update/Update.feature
Owners: none
