Repository vesoft-inc/nebula, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vesoft-inc/tech-committee-reviewers, @critical27, @dutor, @codesigner

.github/CODEOWNERS:

#Require an approved review in PRs including files with a designated code owner.
/conf/ @vesoft-inc/tech-committee-reviewers
/src/kvstore/raftex/ @critical27
/cmake/ @vesoft-inc/tech-committee-reviewers
*.thrift @vesoft-inc/tech-committee-reviewers
*.yy @dutor @codesigner

Add Monitoring Metrics to NebulaGraph #5841 (#5940)
  src/graph/executor/Executor.cpp
  src/graph/executor/query/LimitExecutor.cpp
  src/graph/stats/GraphStats.cpp
  src/graph/stats/GraphStats.h
Owners: none

Optimize filter pushdown and fix the bug in TCK tests. (#5938)
  src/graph/planner/match/MatchSolver.cpp
  src/graph/planner/match/MatchSolver.h
  src/graph/util/OptimizerUtils.cpp
  src/graph/util/OptimizerUtils.h
  tests/common/plan_differ.py
  tests/tck/features/match/PushFilterDown.feature
  tests/tck/features/yield/parameter.feature
Owners: none

Enable the TCK tests that were previously skipped due to bugs.
  tests/tck/features/match/Path.feature
  tests/tck/features/yield/parameter.feature
Owners: none

Update auto_cherry_pick.yml
  .github/workflows/auto_cherry_pick.yml
Owners: none

Update auto_cherry_pick.yml
  .github/workflows/auto_cherry_pick.yml
Owners: none

Update auto_cherry_pick.yml
  .github/workflows/auto_cherry_pick.yml
Owners: none

Update auto_cherry_pick.yml
  .github/workflows/auto_cherry_pick.yml
Owners: none

Update auto_cherry_pick.yml
  .github/workflows/auto_cherry_pick.yml
Owners: none

Fixed vulnerability issues (#5936)
  src/common/network/NetworkUtils.cpp
  src/common/network/NetworkUtils.h
  src/meta/processors/job/DownloadJobExecutor.cpp
  src/webservice/SetFlagsHandler.cpp
Owners: none

[auto-pick-to-release-3.8]Fixed vulnerability issues (#5952)
  src/common/network/NetworkUtils.cpp
  src/common/network/NetworkUtils.h
  src/meta/processors/job/DownloadJobExecutor.cpp
  src/webservice/SetFlagsHandler.cpp
Owners: none

enable multiupdate and lookup & update
  src/graph/executor/Executor.cpp
  src/graph/executor/mutate/DeleteExecutor.cpp
  src/graph/executor/mutate/UpdateExecutor.cpp
  src/graph/executor/mutate/UpdateExecutor.h
  src/graph/planner/plan/Mutate.cpp
  src/graph/planner/plan/Mutate.h
  src/graph/planner/plan/PlanNode.cpp
  src/graph/planner/plan/PlanNode.h
  src/graph/service/PermissionCheck.cpp
  src/graph/validator/MutateValidator.cpp
  src/graph/validator/MutateValidator.h
  src/graph/validator/Validator.cpp
  src/parser/EdgeKey.h
  src/parser/MutateSentences.cpp
  src/parser/MutateSentences.h
  src/parser/Sentence.h
  src/parser/parser.yy
  src/parser/scanner.lex
Owners: @dutor, @codesigner

clean cmake option
  CMakeLists.txt
Owners: none

feat(function): support md5
  CMakeLists.txt
  src/common/function/FunctionManager.cpp
  src/common/function/test/CMakeLists.txt
  src/common/function/test/FunctionManagerTest.cpp
Owners: none

format code
  src/common/function/FunctionManager.cpp
  src/common/function/test/FunctionManagerTest.cpp
Owners: none

fix cmake
  src/common/datatypes/test/CMakeLists.txt
Owners: none

fix cmake error in #5846
  src/common/base/test/CMakeLists.txt
  src/common/datatypes/test/CMakeLists.txt
  src/common/expression/test/CMakeLists.txt
  src/common/geo/test/CMakeLists.txt
  src/common/utils/test/CMakeLists.txt
Owners: none

Latest changes into New_ListSet
  src/graph/validator/MutateValidator.cpp
Owners: none

[DOC] Update to the latest product doc link and fix the DBaaS link
  README-CN.md
  README.md
Owners: none

[DOC] Update to the latest product doc link and fix the DBaaS link (#5956)
  README-CN.md
  README.md
Owners: none

fix cmake error in pr #5846 (#5955)
  src/common/base/test/CMakeLists.txt
  src/common/datatypes/test/CMakeLists.txt
  src/common/expression/test/CMakeLists.txt
  src/common/function/FunctionManager.cpp
  src/common/function/test/CMakeLists.txt
  src/common/function/test/FunctionManagerTest.cpp
  src/common/geo/test/CMakeLists.txt
  src/common/utils/test/CMakeLists.txt
Owners: none

typo in an error log tank -> rank
  src/storage/mutate/DeleteEdgesProcessor.cpp
Owners: none

option to enable build-in log rotation enabled leveraging glog #5688
  conf/nebula-graphd.conf.default
  conf/nebula-metad.conf.default
  conf/nebula-standalone.conf.default
  conf/nebula-storaged-listener.conf.default
  conf/nebula-storaged.conf.default
  src/daemons/SetupLogging.cpp
Owners: @vesoft-inc/tech-committee-reviewers

deleted keyword LOOKUP|UPDATE and replace MULTIUPDATE with UPDATE
  src/parser/parser.yy
  src/parser/scanner.lex
Owners: @dutor, @codesigner

Latest changes into New_ListSet
  src/codec/RowReaderV2.cpp
  src/codec/RowWriterV2.cpp
  src/codec/RowWriterV2.h
  src/common/function/FunctionManager.cpp
  src/common/meta/NebulaSchemaProvider.cpp
  src/common/utils/IndexKeyUtils.h
  src/graph/util/SchemaUtil.cpp
  src/interface/common.thrift
  src/meta/processors/schema/SchemaUtil.cpp
  src/meta/upgrade/v2/meta.thrift
  src/parser/parser.yy
Owners: @vesoft-inc/tech-committee-reviewers, @dutor, @codesigner

Latest changes into New_ListSet
  src/codec/RowWriterV2.cpp
  src/common/function/FunctionManager.cpp
  tests/tck/features/schema/Schema.feature
Owners: none

Latest changes into New_ListSet
  src/codec/RowWriterV2.cpp
  tests/tck/features/schema/Schema.feature
Owners: none

option to enable build-in log rotation enabled leveraging glog #5688 (#5958)
  conf/nebula-graphd.conf.default
  conf/nebula-metad.conf.default
  conf/nebula-standalone.conf.default
  conf/nebula-storaged-listener.conf.default
  conf/nebula-storaged.conf.default
  src/daemons/SetupLogging.cpp
Owners: @vesoft-inc/tech-committee-reviewers

feat:add transfer Leader cmd
  src/clients/meta/MetaClient.cpp
  src/clients/meta/MetaClient.h
  src/common/base/ObjectPool.h
  src/graph/executor/CMakeLists.txt
  src/graph/executor/Executor.cpp
  src/graph/executor/admin/TransferLeaderExecutor.cpp
  src/graph/executor/admin/TransferLeaderExecutor.h
  src/graph/planner/plan/Admin.h
  src/graph/planner/plan/PlanNode.cpp
  src/graph/planner/plan/PlanNode.h
  src/graph/service/PermissionCheck.cpp
  src/graph/validator/AdminValidator.cpp
  src/graph/validator/AdminValidator.h
  src/graph/validator/Validator.cpp
  src/interface/meta.thrift
  src/meta/CMakeLists.txt
  src/meta/MetaServiceHandler.cpp
  src/meta/MetaServiceHandler.h
  src/meta/processors/job/LeaderTransfer.cpp
  src/meta/processors/job/LeaderTransferProcessor.cpp
  src/meta/processors/job/LeaderTransferProcessor.h
  src/parser/AdminSentences.cpp
  src/parser/AdminSentences.h
  src/parser/Sentence.h
  src/parser/parser.yy
  src/parser/scanner.lex
Owners: @vesoft-inc/tech-committee-reviewers, @dutor, @codesigner

Latest changes into New_ListSet
  src/codec/RowWriterV2.cpp
  src/common/function/FunctionManager.cpp
  src/meta/processors/index/CreateTagIndexProcessor.cpp
  src/parser/parser.yy
  tests/tck/features/ddl/Ddl.feature
  tests/tck/features/insert/Insert.feature
  tests/tck/features/update/Update.feature
Owners: @dutor, @codesigner

Latest changes into New_ListSet
  tests/tck/features/insert/Insert.feature
Owners: none

add tck tests
  0001-deleted-keyword-LOOKUP-UPDATE-replace-MULTIUPDATE-wi.patch
  src/graph/executor/mutate/UpdateExecutor.cpp
  src/graph/service/QueryInstance.cpp
  tests/Makefile
  tests/tck/features/lookup/LookUpUpdate.feature
  tests/tck/features/update/MultiUpdate.feature
Owners: none

Latest changes into New_ListSet
  src/codec/RowWriterV2.cpp
  src/codec/RowWriterV2.h
  src/meta/processors/index/CreateEdgeIndexProcessor.cpp
  tests/tck/features/ddl/Ddl.feature
Owners: none

Added support for the List/Set type (#5914)
  src/codec/RowReaderV2.cpp
  src/codec/RowWriterV2.cpp
  src/codec/RowWriterV2.h
  src/common/datatypes/List.h
  src/common/datatypes/Set.h
  src/common/expression/test/AggregateExpressionTest.cpp
  src/common/function/FunctionManager.cpp
  src/common/meta/NebulaSchemaProvider.cpp
  src/common/utils/IndexKeyUtils.h
  src/graph/executor/algo/AllPathsExecutor.cpp
  src/graph/util/SchemaUtil.cpp
  src/graph/validator/SetValidator.cpp
  src/interface/common.thrift
  src/meta/processors/index/CreateEdgeIndexProcessor.cpp
  src/meta/processors/index/CreateTagIndexProcessor.cpp
  src/meta/processors/schema/SchemaUtil.cpp
  src/meta/upgrade/v2/meta.thrift
  src/parser/parser.yy
  src/parser/test/ParserTest.cpp
  tests/tck/features/ddl/Ddl.feature
  tests/tck/features/fetch/FetchEmpty.feature
  tests/tck/features/fetch/FetchVertices.strVid.feature
  tests/tck/features/insert/Insert.feature
  tests/tck/features/insert/InsertIfNotExists.feature
  tests/tck/features/match/Base.feature
  tests/tck/features/schema/Schema.feature
  tests/tck/features/update/Update.feature
Owners: @vesoft-inc/tech-committee-reviewers, @dutor, @codesigner

combined update, multiupdate & refupdate into one routine
  0001-deleted-keyword-LOOKUP-UPDATE-replace-MULTIUPDATE-wi.patch
  src/graph/executor/Executor.cpp
  src/graph/executor/mutate/UpdateExecutor.cpp
  src/graph/executor/mutate/UpdateExecutor.h
  src/graph/planner/plan/Mutate.cpp
  src/graph/planner/plan/Mutate.h
  src/graph/planner/plan/PlanNode.cpp
  src/graph/planner/plan/PlanNode.h
  src/graph/service/PermissionCheck.cpp
  src/graph/validator/MutateValidator.cpp
  src/graph/validator/MutateValidator.h
  src/graph/validator/Validator.cpp
  src/parser/MutateSentences.cpp
  src/parser/MutateSentences.h
  src/parser/Sentence.h
  src/parser/parser.yy
  tests/tck/features/update/Update.IntVid.feature
Owners: @dutor, @codesigner

first revision after code review
  src/graph/executor/mutate/DeleteExecutor.cpp
  src/graph/executor/mutate/UpdateExecutor.cpp
  src/graph/executor/mutate/UpdateExecutor.h
  src/graph/planner/plan/Mutate.cpp
  src/graph/planner/plan/Mutate.h
  src/graph/service/PermissionCheck.cpp
  src/graph/service/QueryInstance.cpp
  src/graph/validator/MutateValidator.cpp
  src/graph/validator/MutateValidator.h
  src/parser/EdgeKey.h
  src/parser/MutateSentences.cpp
  src/parser/MutateSentences.h
  src/parser/parser.yy
  tests/tck/features/lookup/LookUpUpdate.feature
  tests/tck/features/update/MultiUpdate.feature
  tests/tck/features/update/Update.feature
Owners: @dutor, @codesigner

second round revision
  src/graph/executor/mutate/UpdateExecutor.cpp
  src/parser/MutateSentences.cpp
  src/parser/parser.yy
  tests/Makefile
  tests/tck/features/lookup/LookUpUpdate.feature
  tests/tck/features/update/MultiUpdate.feature
  tests/tck/features/update/Update.IntVid.feature
  tests/tck/features/update/Update.feature
Owners: @dutor, @codesigner

third revision
  src/graph/executor/mutate/UpdateExecutor.cpp
  src/graph/executor/mutate/UpdateExecutor.h
  src/graph/validator/MutateValidator.h
  src/graph/validator/test/MutateValidatorTest.cpp
Owners: none

edit error message
  src/graph/executor/mutate/DeleteExecutor.cpp
  src/graph/executor/mutate/UpdateExecutor.cpp
  src/graph/validator/MutateValidator.cpp
  tests/tck/features/delete/DeleteVertex.IntVid.feature
Owners: none

Enable MULTIUPDATE and LOOKUP | UPDATE (#5953)
  src/graph/executor/mutate/DeleteExecutor.cpp
  src/graph/executor/mutate/UpdateExecutor.cpp
  src/graph/executor/mutate/UpdateExecutor.h
  src/graph/planner/plan/Mutate.cpp
  src/graph/planner/plan/Mutate.h
  src/graph/service/PermissionCheck.cpp
  src/graph/validator/MutateValidator.cpp
  src/graph/validator/MutateValidator.h
  src/graph/validator/test/MutateValidatorTest.cpp
  src/parser/EdgeKey.h
  src/parser/MutateSentences.cpp
  src/parser/MutateSentences.h
  src/parser/parser.yy
  tests/tck/features/delete/DeleteVertex.IntVid.feature
  tests/tck/features/lookup/LookUpUpdate.feature
  tests/tck/features/update/MultiUpdate.feature
Owners: @dutor, @codesigner

fix round(5) crash, add check type
  src/common/function/FunctionManager.cpp
Owners: none
