Repository vesoft-inc/nebula, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vesoft-inc/tech-committee-reviewers, @critical27, @dutor, @codesigner

.github/CODEOWNERS:

#Require an approved review in PRs including files with a designated code owner.
/conf/ @vesoft-inc/tech-committee-reviewers
/src/kvstore/raftex/ @critical27
/cmake/ @vesoft-inc/tech-committee-reviewers
*.thrift @vesoft-inc/tech-committee-reviewers
*.yy @dutor @codesigner

LZY: implement vector type(common/value)
  src/common/datatypes/CMakeLists.txt
  src/common/datatypes/CommonCpp2Ops.h
  src/common/datatypes/Value.cpp
  src/common/datatypes/Value.h
  src/common/datatypes/ValueOps-inl.h
  src/common/datatypes/Vector.cpp
  src/common/datatypes/Vector.h
  src/common/datatypes/VectorOps-inl.h
  src/common/datatypes/test/CMakeLists.txt
  src/common/datatypes/test/ValueTest.cpp
  src/common/datatypes/test/VectorTest.cpp
  src/common/utils/IndexKeyUtils.cpp
  src/graph/util/ToJson.cpp
Owners: none

LZY: 1. Implement vector type and serialization and deserialization for vector value. 2. Implement the property type and serialization and deserialization for vector property.
  src/codec/RowReaderV2.cpp
  src/common/datatypes/CMakeLists.txt
  src/common/datatypes/CommonCpp2Ops.h
  src/common/datatypes/Value.cpp
  src/common/datatypes/Value.h
  src/common/datatypes/ValueOps-inl.h
  src/common/datatypes/Vector.cpp
  src/common/datatypes/Vector.h
  src/common/datatypes/VectorOps-inl.h
  src/common/datatypes/test/CMakeLists.txt
  src/common/datatypes/test/ValueTest.cpp
  src/common/datatypes/test/VectorTest.cpp
  src/common/meta/NebulaSchemaProvider.cpp
  src/common/utils/IndexKeyUtils.cpp
  src/common/utils/IndexKeyUtils.h
  src/graph/util/SchemaUtil.cpp
  src/graph/util/ToJson.cpp
  src/interface/common.thrift
  src/meta/processors/schema/SchemaUtil.cpp
Owners: @vesoft-inc/tech-committee-reviewers

LZY: Implement the multiple column family RocksDB
  src/common/utils/NebulaKeyUtils.cpp
  src/common/utils/NebulaKeyUtils.h
  src/kvstore/RocksEngine.cpp
  src/kvstore/RocksEngine.h
  src/kvstore/RocksEngineConfig.cpp
  src/kvstore/RocksEngineConfig.h
  src/kvstore/test/CMakeLists.txt
  src/kvstore/test/RocksEngineConfigMultiCFTest.cpp
  src/kvstore/test/RocksEngineMultiCFTest.cpp
Owners: none

LZY: Implement the multiple column family RocksDB: update interface for KVEngine
  src/kvstore/KVEngine.h
  src/kvstore/RocksEngine.cpp
  src/kvstore/RocksEngine.h
Owners: none

LZY: Implement the key for vector property
  src/common/thrift/ThriftTypes.h
  src/common/utils/NebulaKeyUtils.cpp
  src/common/utils/NebulaKeyUtils.h
  src/common/utils/Types.h
  src/common/utils/test/NebulaKeyUtilsTest.cpp
Owners: none

LZY: Implement the RowReader and RowWriter for vector property
  src/codec/RowReaderV2.cpp
  src/codec/RowReaderV2.h
  src/codec/RowReaderWrapper.h
  src/codec/RowWriterV2.cpp
  src/codec/RowWriterV2.h
  src/codec/test/RowWriterV2Test.cpp
Owners: none

LZY: 1. Implement vector type and serialization and deserialization for vector value. 2. Implement the property type and serialization and deserialization for vector property.
  src/common/datatypes/Value.cpp
Owners: none

LZY: Implement the ddl for vector property
  src/common/datatypes/Vector.cpp
  src/common/datatypes/Vector.h
  src/common/datatypes/VectorOps-inl.h
  src/common/datatypes/test/ValueTest.cpp
  src/common/meta/NebulaSchemaProvider.cpp
  src/common/meta/NebulaSchemaProvider.h
  src/graph/util/SchemaUtil.cpp
  src/graph/validator/MaintainValidator.cpp
  src/interface/meta.thrift
  src/kvstore/test/RocksEngineConfigMultiCFTest.cpp
  src/kvstore/test/RocksEngineMultiCFTest.cpp
  src/meta/MetaServiceUtils.cpp
  src/meta/processors/schema/SchemaUtil.cpp
  src/meta/test/ProcessorTest.cpp
  src/meta/test/TestUtils.h
  src/parser/MaintainSentences.cpp
  src/parser/parser.yy
  src/parser/scanner.lex
  src/parser/test/ParserTest.cpp
  tests/common/comparator.py
  tests/common/dataset_printer.py
  tests/tck/conftest.py
  tests/tck/features/vector/Schema.feature
  tests/tck/utils/nbv.py
Owners: @vesoft-inc/tech-committee-reviewers, @dutor, @codesigner

fix reservoir sampling issue
  src/common/algorithm/ReservoirSampling.h
Owners: none

LZY: dml for vertex of vector type finished and add new mock test LZY: dml fix bug and remove useless code
  src/codec/RowReaderV2.cpp
  src/codec/RowReaderWrapper.cpp
  src/codec/RowReaderWrapper.h
  src/codec/RowWriterV2.cpp
  src/common/meta/NebulaSchemaProvider.h
  src/common/utils/NebulaKeyUtils.cpp
  src/common/utils/NebulaKeyUtils.h
  src/graph/executor/query/AppendVerticesExecutor.cpp
  src/graph/validator/MutateValidator.cpp
  src/graph/validator/test/MutateValidatorTest.cpp
  src/kvstore/KVEngine.h
  src/kvstore/Part.cpp
  src/kvstore/RocksEngine.cpp
  src/kvstore/RocksEngine.h
  src/kvstore/test/RocksEngineMultiCFTest.cpp
  src/meta/MetaServiceUtils.cpp
  src/mock/MockCluster.cpp
  src/mock/MockData.cpp
  src/mock/MockData.h
  src/storage/BaseProcessor-inl.h
  src/storage/exec/EdgeNode.h
  src/storage/exec/QueryUtils.h
  src/storage/exec/TagNode.h
  src/storage/exec/UpdateNode.h
  src/storage/mutate/AddEdgesProcessor.cpp
  src/storage/mutate/AddEdgesProcessor.h
  src/storage/mutate/AddVerticesProcessor.cpp
  src/storage/mutate/AddVerticesProcessor.h
  src/storage/mutate/UpdateVertexProcessor.cpp
  src/storage/test/AddVerticesTest.cpp
  src/storage/test/IndexTestUtil.h
  src/storage/test/TestUtils.h
  src/storage/transaction/ChainAddEdgesLocalProcessor.cpp
Owners: none

LZY: Implement the ddl for vector property
  src/common/meta/NebulaSchemaProvider.h
Owners: none

LZY: vector index interface and simple ann benchmark finished
  cmake/nebula/ThirdPartyConfig.cmake
  src/common/CMakeLists.txt
  src/common/thrift/ThriftTypes.h
  src/common/vectorIndex/CMakeLists.txt
  src/common/vectorIndex/HNSWIndex.cpp
  src/common/vectorIndex/HNSWIndex.h
  src/common/vectorIndex/IVFIndex.cpp
  src/common/vectorIndex/IVFIndex.h
  src/common/vectorIndex/VectorIndex.cpp
  src/common/vectorIndex/VectorIndex.h
  src/common/vectorIndex/VectorIndexUtils.h
  src/common/vectorIndex/test/ANNBenchmark.cpp
  src/common/vectorIndex/test/AnnIndexTest.cpp
  src/common/vectorIndex/test/CMakeLists.txt
Owners: @vesoft-inc/tech-committee-reviewers

Add unit test
  src/common/algorithm/test/ReservoirSamplingTest.cpp
Owners: none

fix. raft follower will rollback itself when it misses a certain log
  src/kvstore/raftex/RaftPart.cpp
Owners: @critical27

fix. stats manager may cause crash when stats with new labels.
  src/common/stats/StatsManager.cpp
  src/common/stats/test/StatsManagerTest.cpp
Owners: none

feat:add process_uptime_seconds metrics
  src/webservice/GetStatsHandler.cpp
Owners: none

ehnace for if not exists
  src/clients/meta/MetaClient.cpp
  src/graph/executor/maintain/EdgeExecutor.cpp
  src/interface/meta.thrift
  src/meta/processors/schema/CreateEdgeProcessor.cpp
  test_create_edge_enhancement.md
Owners: @vesoft-inc/tech-committee-reviewers

LZY: ann search with tag finished (feature and tck)
  src/common/expression/AttributeExpression.cpp
  src/common/expression/FunctionCallExpression.cpp
  src/common/utils/NebulaKeyUtils.h
  src/common/vectorIndex/HNSWIndex.cpp
  src/common/vectorIndex/IVFIndex.cpp
  src/common/vectorIndex/IVFIndex.h
  src/graph/context/ast/CypherAstContext.h
  src/graph/context/iterator/PropIter.cpp
  src/graph/executor/query/AnnIndexScanExecutor.cpp
  src/graph/executor/query/AppendVerticesExecutor.cpp
  src/graph/optimizer/OptGroup.cpp
  src/graph/optimizer/rule/TagAnnIndexScanRule.cpp
  src/graph/planner/match/PaginationPlanner.cpp
  src/graph/util/SchemaUtil.cpp
  src/graph/validator/MatchValidator.cpp
  src/storage/exec/GetPropNode.h
  src/storage/exec/QueryUtils.h
  src/storage/exec/TagNode.h
  src/storage/index/LookupAnnProcessor.cpp
  src/storage/query/QueryBaseProcessor-inl.h
  tests/tck/features/vector/AnnIndex.feature
  tests/tck/features/vector/AnnSearch.feature
Owners: none

feat support to set exclusive_manual_compaction when running compaction
  src/kvstore/RocksEngine.cpp
  src/kvstore/RocksEngineConfig.cpp
  src/kvstore/RocksEngineConfig.h
Owners: none

feat support to set exclusive_manual_compaction when running compaction
  src/kvstore/RocksEngine.cpp
  src/kvstore/RocksEngineConfig.cpp
  src/kvstore/RocksEngineConfig.h
Owners: none

fix relational expression rewriting
  src/graph/util/ExpressionUtils.cpp
  src/graph/util/ExpressionUtils.h
  src/graph/util/test/ExpressionUtilsTest.cpp
Owners: none

fix lint
  .github/workflows/pull_request.yml
Owners: none

Update pull_request.yml
  .github/workflows/pull_request.yml
Owners: none

Add Git hooks configuration for pre-commit hook creation
  cmake/nebula/GitHooksConfig.cmake
Owners: @vesoft-inc/tech-committee-reviewers

fix nightly build workflow
  .github/workflows/nightly.yml
  CMakePresets.json
Owners: none

fix pull requrest prepare step
  .github/workflows/pull_request.yml
Owners: none

Remove unused patches from glog portfile
  custom-ports/glog/fix_cplusplus_macro.patch
  custom-ports/glog/fix_crosscompile_symbolize.patch
  custom-ports/glog/fix_log_every_n.patch
  custom-ports/glog/nogdi-nominmax.patch
  custom-ports/glog/portfile.cmake
Owners: none

fix: fulfill snapshot promise on leadership change
  src/kvstore/raftex/SnapshotManager.cpp
Owners: @critical27

test: add standalone reproduction for snapshot promise bug
  tests/nb5_snapshot_promise_wedge.cpp
Owners: none

fix bug: A deadlock may occur when leader balancing and graph space creation are executed at the same time.
  src/kvstore/NebulaStore.cpp
Owners: none

Fix unstable worker id allocation
  src/meta/processors/id/GetWorkerIdProcessor.cpp
  src/meta/test/IdProcessorTest.cpp
Owners: none

Create core_dump.txt
  bug-fix/core_dump.txt
Owners: none

Create task-1.md
  task/task-1.md
Owners: none

Update task-1.md
  task/task-1.md
Owners: none

Fix stale pid file handling in service script
  scripts/nebula.service
  scripts/utils.sh
Owners: none

Fix empty STARTS WITH lookup rewrite
  src/graph/util/ExpressionUtils.cpp
  src/graph/util/test/ExpressionUtilsTest.cpp
  tests/tck/features/lookup/TagIndexFullScan.feature
Owners: none

Fix rand purity metadata
  src/common/function/FunctionManager.cpp
  src/graph/visitor/test/FoldConstantExprVisitorTest.cpp
Owners: none

Update NebulaStore.h
  src/kvstore/NebulaStore.h
Owners: none

Update NebulaStore.cpp
  src/kvstore/NebulaStore.cpp
Owners: none

Update NebulaStore.cpp
  src/kvstore/NebulaStore.cpp
Owners: none
